.feature-section {
  background-color: #1a1a1a;
  padding: 5rem 5rem;
  color: white;
}

.feature-content {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.feature-content:last-child {
  margin-bottom: 0;
}

.feature-content img {
  width: 65%;
  border-radius: 0.625rem;
  object-fit: cover;
}

.feature-text {
  flex: 1;
}

.feature-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #f3f4f6;
}

.feature-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.8;
}

@media (max-width: 48rem) {
  .feature-content {
    flex-direction: column;
  }
  
  .feature-content img {
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
  }
  
  .feature-text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .feature-section {
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    background: #232946;
  }
  .feature-content {
    flex-direction: column;
    gap: 1.2rem;
  }
  .feature-content img {
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
  }
  .feature-text h2 {
    font-size: 1.2rem;
  }
  .feature-text p {
    font-size: 0.9rem;
  }
}

/* input::placeholder {
  color: #fff;
  opacity: 1; 
} */
